*{
    margin: 0;
    padding:0;
}


.container {
    height: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "b b b b b b k k k k k k"
        "b b b b b b d d d d d d"
        "s s s s s s e e e e e e"
        "s s s s s s c c c c c c";
}

/*header section*/
a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #777a7a;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #777a7a;
    background-color: transparent;
    text-decoration: none;
  }

header{
    padding-top:5%;
    padding-left: 150px;
    grid-area: b;
}

h1{
    padding-top: 40px;
    font-size: 45px;
    font-weight: 800;
    color: white;
}

.contact {
    font-size: 100%;
    font-weight:300;
    padding-top: 25px;
    color: white;
}

.number {
    font-size: 100%;
    font-weight:300;
    padding-top: 25px;
    color: white;
}


.location {
    font-size: 100%;
    font-weight:300;
    padding-top: 15px;
    color: white;
}

.me{
    padding-top:50px;
}

.boxed {
    text-align: center;
    align-content: center;
    position: absolute;
   width: 35%;
   height: 600px;
   background:#f5bc53;
  }
/*summary*/
.line1{
    grid-area: s;
    padding-left: 18%;
    width:72%;
    height: 5px;
}

.summary{
    padding-top:20px;
    padding-right: 10%;
    padding-left:18%;
    color: #777a7a ;
    text-align: left;
    font-weight: 200;
    font-size: 80%;
    grid-area: s;
}

/*experience*/
.line2{
    padding-bottom: 1%;
    padding-left: 2%;
    width: 60%;
    height:3px;
    grid-area: e;
}

li{
    font-weight: 200;
    padding:10px;
    padding-right:28%;
    font-size: 100%;
    grid-area: e, ;
}
  
body{
    font-size: 1.5em;
    font-family: 'Noto Sans JP';
}
/*bullets*/
ul{
    list-style: disc;
}

h2{
    color:#f5bc53;
    font-weight: 700;
    font-size:110%;
    
}

h3{
    padding-top:45px;
    font-size: 1.2em;
}

.experience{
    padding-bottom: 3%;
    padding-left:50px;
    color: #777a7a;
    text-align: left;
    font-weight: 200;
    font-size: 80%;
    grid-area: e;
}

.camp{
    padding-top: 2%;
}

.wt{
    padding-top:2%;
}

/*skills*/
.line3{
    padding-bottom: 1%;
    padding-left: 2%;
    width: 64%;
    height:3px;
    grid-area: e;
}
.skills {
    padding-bottom:3%;
    padding-left:50px;
    padding-top: 5%;
    color: #777a7a;
    text-align: left;
    font-weight: 200;
    font-size: 80%;
    grid-area: k;
}

.skillscont{
    padding-bottom:3%;
    padding-left:50px;
    padding-top: 13%;
    color: #777a7a;
    text-align: left;
    font-weight: 200;
    font-size: 80%;
    grid-area: k;
}

.certifications{
    padding-left:50px;
    padding-bottom:10%;
    color: #777a7a;
    text-align: left;
    font-weight: 200;
    font-size: 80%;
    grid-area: c;
}

.line5{
    padding-bottom: 1%;
    padding-left: 2%;
    width:55%;
    height:3px;
}

/*education*/
.education{
    padding-bottom:3%;
    padding-left: 50px;
    font-size: 80%;
    grid-area: d;
}
.umd{
    padding-top: 3%;
    color: #777a7a;
    text-align: left;
    font-weight: 800;
    font-size: 100%;
}

.line4{
    padding-bottom: 1%;
    padding-left: 2%;
    width: 59%;
    height:3px;
}

.dart{
    padding-top: 3%;
    color: #777a7a;
    text-align: left;
    font-weight: 200;
    font-size: 100%;
}

/* step three - build a grid that becomes active when the pixels are 800px or less */
@media screen and (max-width: 800px) {
    .container{
        align-content: center;
        display: grid;
        grid-gap: 10px;
        /* grid is only one column, keep this way */
        grid-template-columns: 1fr;
        /* you can enter values, or auto will adjust the box sizes based on content */
        grid-template-rows:1;
        grid-template-areas:
        "b"
        "s"
        "d"
        "e"
        "k"
        "c"
        "f";
    }
    .contact::after{
        content:"\a";
        white-space: pre;
    }
    .number{
        padding-top: 15px;
    }
    .summary{
        padding-top: 800px;
        padding-left: 20px;
    }
    header{
        padding-left: 3%;
    }
    .boxed{
        text-align: center;
        align-content: center;
        position: absolute;
        width: 95%;
        height: 750px;
        background:#f5bc53;
    }
    .skills{
    padding-left: 20px;
    grid-area: k;
    }
    .skillscont{
        padding-left: 20px;
        font-size: 64%;
    }
    .education{
        padding-bottom:3%;
        padding-left: 20px;
        font-size: 80%;
        grid-area: d;
    }
    .experience{
        padding-left:20px;
        grid-area: e;
    }
    .certifications{
        padding-left:20px;
        grid-area:c;
    }
}